:root {
  --main-bg-color: #FAFAFA;
  --main-text-color: #292929;
  --white-text-color: #fff;
  --box-shadow-color: rgba(0, 0, 0, 0.2);
  --white-text-hover-color: rgba(255, 255, 255, 0.7);
  --main-text-hover-color: rgba(41, 41, 41, 0.7);
  --main-dark-overlays-color: rgba(0, 0, 0, 0.5);
  --transparent-white-color: rgba(255, 255, 255, 0)
}
