---
layout: default
---

<div class="home-introduction-block">
  <div class="content-container">
    <div class="content-inner">
      <div class="content-left column">
        {{ content }}
      </div>

      <div class="content-right column">
        <h1>Hostar</h1>
        <table>
          <tr>
            <td class="person">
              <a href="https://hendrikpeter.net">
                <img src="/assets//images/people/peter.jpg" alt="Peter" width="80">
                <br>
                <span class="name">Peter</span>
              </a>
            </td>
            <td class="person">
              <a href="https://hendrikpeter.net">
                <img src="/assets//images/people/jeger.jpg" alt="Jeger" width="80">
                <br>
                <span class="name">Jeger</span>
              </a>
            </td>
            <td></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
