---
layout: default
---

{% unless paginator.next_page %}
  <div class="home-introduction-block">
    <div class="content-container">
      <div class="content-inner">
        <div class="content-left column">
          <h1>Hej!</h1>
          {{ site.description }}
        </div>

        <div class="content-right column">
          <h1>Hostar</h1>
          <table>
            <tr>
              {% assign users = site.users | where:"active", true | sort: "first_name" %}
              {% for user in users %}
                <td class="person">
                  {% if user.link != null %}
                    <a href="https://hendrikpeter.net" target="_blank">
                  {% endif %}
                    <img src="/assets/images/people/{{ user.image_name }}" alt="Peter" width="80">
                    <br>
                    <span class="name">{{ user.first_name }}</span>
                  {% if user.link != null %}
                    </a>
                  {% endif %}
                </td>
              {% endfor %}
              <td>&nbsp;</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endunless %}

<div class="content-container episodes-header">
  <h1>Avsnitt</h1>
</div>

<div class="post-container">
  {% for post in paginator.posts %}
    <div class="post-teaser-block">
      <div class="content-container">
        <h2>
          <a href="{{ post.url | relative_url }}">
            <span class="post-number">{{ post.number }}:</span>
            {{ post.title | escape }}
          </a>
        </h2>
        <div class="date">
          {{ post.date_human }}
          |
          {{ post.length }}
        </div>
        <div class="excerpt">
          <a href="{{ post.url | relative_url }}">
            {{ post.excerpt }}
          </a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<div class="pagination-on-home">
  <div class="content-container">
    {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ paginator.next_page_path }}">&lt;/— Nyare</a>
    {% else %}
      <span class="pagination-button next">&lt;/— Nyare</span>
    {% endif %}

    {% if paginator.previous_page %}
      <a class="pagination-button pagination-active" href="{{ paginator.previous_page_path }}">Äldre</a>
    {% else %}
      <span class="pagination-button">Äldre —&gt;</span>
    {% endif %}
  </div>
</div>

<div class="content-container privacy-link">
  <a href="/privacy">Privacy</a>
</div>
